.pagenate {
    display: flex;
    justify-content: center;
}

.pagenate ul {
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 0 !important;
}

.pagenate ul li:first-child {
    font-size: 0;
}

.pagenate ul li:last-child {
    font-size: 0;
}

.pagenate button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    

}

.pagenate button svg {

    font-size: 17px;
}